html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: bisque;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

.logocontainer {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 7rem 2rem;
}

.logocontainer img{
    height: 100%;
    width: 40%;
}

.logocontainer p {
    color: aliceblue;
    font-size: 2rem;
}

/* TCG */

.selectioncontainer {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.selectioncontainer figure{
    height: 7rem;
    width: 10rem;
    border: white solid 3px;
    border-radius: 8px;
    padding: 8%;
}

.selectioncontainer img {
    object-fit: contain;
}

/* Backgroundvideo */

.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    filter: brightness(25%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1; 
    object-fit: cover; 
}