@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Grid*/

.grid {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    height: 100%;
    width: 100%;
    gap: 0;
}

.grid aside {
    background: #41a1e0;
    background: linear-gradient(190deg,rgba(65, 161, 224, 1) 0%, rgba(51, 123, 171, 1) 40%, rgba(34, 83, 115, 1) 80%);
    z-index: 2;
}

.grid main {
    background: #a5c1d4;
    background: linear-gradient(190deg, rgba(165, 193, 212, 1) 0%, rgba(133, 154, 168, 1) 40%, rgba(86, 99, 107, 1) 80%);
    z-index: 1;
}

/*Texture*/

.texture {
    position: fixed;
    right: 0;
    bottom: 0;
    filter:opacity(50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 0; 
    object-fit: cover; 
}

/* aside */

.aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.aside div {
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.nav-mobile {
    display: none;
}

/*logo*/

.aside .logo {
    padding: 8%;
    margin: 5% 10%;
    height: 15%;
    width: 60%;
}

.logo img {
    height: 100%;
    width: 100%;
}

/*selector*/

.selection {
    width: 90%;
    height: auto;
    border: #3582b6 solid 4px;
    background-color: #2c6f9c;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
}

.selection details {
    font-size: 2.2rem;
    color: aliceblue;
}

.selection a {
    text-decoration: none;
    color: aliceblue;
}

/*navbar*/

.nav {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: auto;
    margin: 1rem;
    padding: 0.5rem;
    gap: 1.5rem;
}

.nav div {
    display: flex;
    text-align: start;
    justify-content: start;
    gap: 1rem;
    height: 4.2rem;
    width: 100%;

    transition: 0.6s ease-in-out;
}

.nav div:hover {
    scale: 1.05;
}

.nav a {
    width: 100%;
    text-decoration: none;
    color: aliceblue;
}

.button img {
    height: 100%;
    width: 100%;
    max-width: 4rem;
    border-radius: 1.2rem;
    border: aliceblue solid 2px;
    object-fit: cover;
}

.button h1 {
    color: aliceblue;
}

/* Socials */

.aside .socials {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: end;
    margin: 5% 0%;
}

.socials img {
    width: 3.5rem;
    height: 3.5rem;
}

.socials img:hover {
    scale: 1.1;
}

/* Content */

.contentflex {
    background: #d5e2eb;
    background: linear-gradient(190deg, rgba(213, 226, 235, 1) 0%, rgba(186, 197, 204, 1) 39%, rgba(185, 191, 196, 1) 80%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.contentdiv1, .contentdiv2 {
    display: flex;
    height: 49%;
    width: 100%;
    z-index: 1;
}


.contenttext, .contenttext2 {
    background: #2f6bba;
    background: linear-gradient(264deg, rgba(47, 107, 186, 1) 12%, rgba(10, 74, 97, 1) 82%);
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 5px 0;
    padding: 0px 0px;
}

.contenttext h1{
    font-size: 3rem;
    color: #d5e2eb;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.contenttext p,.contenttext2 p {
    font-size: 2rem;
    color: #d5e2eb;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    margin: 0 2rem;
}

.contentimg {
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: 5px 0px;
    padding: 0px 0px;
    overflow: hidden;

    transition: 1s ease-in-out;
}

.contentimg img:hover {
    scale: 1.1;
}

@media (max-width:960px) {
    
/*Grid*/

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 12rem;
}

.grid aside {
    order: 2;
}

.grid main {
    order: 1;
    background: #a5c1d4;
    background: linear-gradient(190deg, rgba(165, 193, 212, 1) 0%, rgba(133, 154, 168, 1) 40%, rgba(86, 99, 107, 1) 80%);
}

/*Aside*/

.selection {
    position: relative; 
}

/*Details-up*/

.selection details > a:nth-of-type(1) {
    position: absolute;
    bottom: calc(100% + 4rem);
    left: 0;
    right: 0;
    background-color: #2c6f9c;
    border: #3582b6 solid 4px;
    border-radius: 0px;
    margin-bottom: 1.5rem; 
    padding: 0.5rem 0;
    z-index: 10; 
}

.selection details > a:nth-of-type(2) {
    position: absolute;
    bottom: 100%; 
    left: 0;
    right: 0;
    background-color: #2c6f9c;
    border: #3582b6 solid 4px;
    border-radius: 0px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    z-index: 11; 
}

.selection details > p,
.selection details > a {
    position: absolute;
    bottom: 100%; 
    left: 0;
    right: 0;
    background-color: #2c6f9c;
    border: #3582b6 solid 4px;
    border-radius: 12px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    gap: 10rem;
    z-index: 11; 
}

.selection details > p,
.selection details > a p {
    margin: 0.2rem 0;
}

/*aside*/

.aside .logo {
    display: none;
}

.nav {
    flex-direction: row;
    padding: 0rem;
    gap: 1.5rem;
}

.nav div {
    gap: 0.5rem;
}

.button h1 {
    font-size: 1.1rem;
}

/* socials */

.aside .socials {
    display: none;
}

}

@media (max-width:560px) {

/*navbar*/

.nav {
    display: none;
}

/*navbar-mobile*/

.nav-mobile {
    display: flex;
    flex-direction: row;
    width: 10%;
    height: auto;
    margin: 1rem;
    padding: 0rem;
    gap: 1.5rem;
}

.nav-mobile div {
    display: flex;
    gap: 1rem;
    height: auto;
    width: 100%
}

.nav-mobile a {
    width: 100%;
    text-decoration: none;
    color: aliceblue;
}

.button-mobile img {
    height: 100%;
    width: 100%;
    max-width: 4rem;
    border-radius: 1.2rem;
    border: aliceblue solid 2px;
    object-fit: cover;
}

/*Details-up*/

/* socials */

.contenttext h1{
    font-size: 2.5rem;
}

.contenttext p{
    font-size: 1.6rem;
}

.contenttext2 p{
    font-size: 1.7rem;
}

}


@media (max-width:460px) {

/* content */

.contenttext,.contenttext2 {
    margin: 2px 0px;
}

.contenttext h1{
    font-size: 2rem;
}

.contenttext p{
    font-size: 1.5rem;
}

.contenttext2 p{
    font-size: 1.5rem;
}

.contentimg {
    margin: 2px 0px;
}

.contentimg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

}