@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    height: 100%;
    width: 100%;
    gap: 0;
}

.grid aside {
    background: #bf411b;
    background: linear-gradient(182deg, rgba(191, 65, 27, 1) 12%, rgba(135, 53, 32, 1) 51%, rgba(61, 35, 29, 1) 89%);
}

.grid main {
    background: #a5c1d4;
    background: linear-gradient(190deg, rgba(165, 193, 212, 1) 0%, rgba(133, 154, 168, 1) 40%, rgba(86, 99, 107, 1) 80%);
}

/* aside */

/*logo*/

.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.navbar div {
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;

}

.navbar .logo {
    padding: 8%;
    margin: 5% 10%;
    height: 15%;
    width: 60%;
}

.logo img {
    height: 100%;
    width: 100%;
}

/*selector*/

.selection {
    width: 90%;
    height: auto;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
}

.selection details {
    font-size: 2.2rem;
    color: aliceblue;
}

.selection a {
    text-decoration: none;
    color: aliceblue;
}

/*navbar*/

.nav {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: auto;
    margin: 1rem;
    padding: 0.5rem;
    gap: 1.5rem;
}

.nav div {
    display: flex;
    text-align: start;
    justify-content: start;
    gap: 1rem;
    height: 4.2rem;
    width: 100%;
}

.nav a {
    width: 100%;
    text-decoration: none;
    color: aliceblue;
}

.button img {
    height: 100%;
    width: 100%;
    max-width: 4rem;
    border-radius: 1.2rem;
    border: aliceblue solid 2px;
    object-fit: cover;
}

.button h1 {
    color: aliceblue;
}

/* Socials */

.navbar .socials {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: end;
    margin: 5% 0%;
}

.socials img {
    width: 3.5rem;
    height: 3.5rem;
}

.socials img:hover {
    scale: 1.1;
}

/* Contenido */

.contentflex {
    background: #d5e2eb;
    background: linear-gradient(190deg, rgba(213, 226, 235, 1) 0%, rgba(186, 197, 204, 1) 39%, rgba(185, 191, 196, 1) 80%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.contentdiv1 {
    display: flex;
    height: 49%;
    width: 100%;
}

.contentdiv2 {
    display: flex;
    height: 49%;
    width: 100%;
}

.contenttext {
    background: #9c261e;
    background: linear-gradient(182deg, rgba(156, 38, 30, 1) 24%, rgba(194, 54, 19, 1) 82%);
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 5px 0px;
    padding: 0px 0px;
}

.contenttext2 {
    background: #9c261e;
    background: linear-gradient(182deg, rgba(156, 38, 30, 1) 24%, rgba(194, 54, 19, 1) 82%);
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 5px 0px;
    padding: 0px 0px;
}

.contenttext h1{
    font-size: 3rem;
    color: #d5e2eb;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.contenttext p{
    font-size: 2rem;
    color: #d5e2eb;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.contenttext2 p{
    font-size: 2rem;
    color: #d5e2eb;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.contentimg {
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: 5px 0px;
    padding: 0px 0px;
}

@media (max-width:960px) {
    
.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 12rem;
    height: 100%;
    width: 100%;
    gap: 0;
}

.grid aside {
    order: 2;
    background: #bf411b;
    background: linear-gradient(182deg, rgba(191, 65, 27, 1) 12%, rgba(135, 53, 32, 1) 51%, rgba(61, 35, 29, 1) 89%);
}

.grid main {
    order: 1;
    background: #a5c1d4;
    background: linear-gradient(190deg, rgba(165, 193, 212, 1) 0%, rgba(133, 154, 168, 1) 40%, rgba(86, 99, 107, 1) 80%);
}

/*navbar*/

.selection {
    width: 90%;
    height: auto;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
    position: relative; 
}

.selection details {
    font-size: 2.2rem;
    color: aliceblue;
}

.selection a {
    text-decoration: none;
    color: aliceblue;
}

.selection details > a:nth-of-type(1) {
    position: absolute;
    bottom: calc(100% + 4rem);
    left: 0;
    right: 0;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 0px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    z-index: 10; 
}

.selection details > a:nth-of-type(2) {
    position: absolute;
    bottom: 100%; 
    left: 0;
    right: 0;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 0px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    z-index: 10; 
}

.selection details > p,
.selection details > a {
    position: absolute;
    bottom: 100%; 
    left: 0;
    right: 0;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 12px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    gap: 10rem;
    z-index: 10; 
}

.selection details > p,
.selection details > a p {
    margin: 0.2rem 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.navbar .logo {
    display: none;
    padding: 8%;
    margin: 5% 10%;
    height: 15%;
    width: 60%;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 10%;
    height: auto;
    margin: 1rem;
    padding: 0.5rem;
    gap: 1.5rem;
}

.nav div {
    display: flex;
    text-align: start;
    justify-content: start;
    gap: 0.5rem;
    height: 4.2rem;
    width: 100%;
}

.nav a {
    width: 100%;
    text-decoration: none;
    color: aliceblue;
}

.button img {
    height: 100%;
    width: 100%;
    max-width: 4rem;
    border-radius: 1.2rem;
    border: aliceblue solid 2px;
    object-fit: cover;
}

.button h1 {
    font-size: 1.1rem;
    color: aliceblue;
}

/* socials */

.navbar .socials {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: end;
    margin: 5% 0%;
}

.contentdiv1 {
    display: flex;
    height: 49%;
    width: 100%;
}

.contentdiv2 {
    display: flex;
    height: 49%;
    width: 100%;
}

.contenttext {
    background: #9c261e;
    background: linear-gradient(182deg, rgba(156, 38, 30, 1) 24%, rgba(194, 54, 19, 1) 82%);
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 5px 0px;
    padding: 0px 0px;
}

.contenttext2 {
    background: #9c261e;
    background: linear-gradient(182deg, rgba(156, 38, 30, 1) 24%, rgba(194, 54, 19, 1) 82%);
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 5px 0px;
    padding: 0px 0px;
}

.contenttext h1{
    font-size: 3rem;
    color: #d5e2eb;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.contenttext p{
    font-size: 2rem;
    color: #d5e2eb;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.contenttext2 p{
    font-size: 2rem;
    color: #d5e2eb;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.contentimg {
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: 5px 0px;
    padding: 0px 0px;
}
}

@media (max-width:560px) {

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 12rem;
    height: 100%;
    width: 100%;
    gap: 0;
}

.grid aside {
    order: 2;
    background: #bf411b;
    background: linear-gradient(182deg, rgba(191, 65, 27, 1) 12%, rgba(135, 53, 32, 1) 51%, rgba(61, 35, 29, 1) 89%);
}

.grid main {
    order: 1;
    background: #a5c1d4;
    background: linear-gradient(190deg, rgba(165, 193, 212, 1) 0%, rgba(133, 154, 168, 1) 40%, rgba(86, 99, 107, 1) 80%);
}

/*navbar*/

.selection {
    width: 90%;
    height: auto;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
    position: relative; 
}

.selection details {
    font-size: 2.2rem;
    color: aliceblue;
}

.selection a {
    text-decoration: none;
    color: aliceblue;
}

.selection details > a:nth-of-type(1) {
    position: absolute;
    bottom: calc(100% + 4rem);
    left: 0;
    right: 0;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 0px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    z-index: 10; 
}

.selection details > a:nth-of-type(2) {
    position: absolute;
    bottom: 100%; 
    left: 0;
    right: 0;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 0px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    z-index: 10; 
}

.selection details > p,
.selection details > a {
    position: absolute;
    bottom: 100%; 
    left: 0;
    right: 0;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 12px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    gap: 10rem;
    z-index: 10; 
}

.selection details > p,
.selection details > a p {
    margin: 0.2rem 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.navbar .logo {
    display: none;
    padding: 8%;
    margin: 5% 10%;
    height: 15%;
    width: 60%;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 10%;
    height: auto;
    margin: 1rem;
    padding: 0.5rem;
    gap: 1.5rem;
}

.nav div {
    display: flex;
    justify-content: space-around;
    text-align: start;
    justify-content: start;
    gap: 0.5rem;
    height: 4.2rem;
    width: 100%;
}

.nav a {
    width: 100%;
    text-decoration: none;
    color: aliceblue;
}

.button img {
    height: 100%;
    width: 100%;
    max-width: 4rem;
    border-radius: 1.2rem;
    border: aliceblue solid 2px;
    object-fit: cover;
}

.button h1 {
    display: none;
    font-size: 0rem;
    color: aliceblue;
}

/* socials */

.navbar .socials {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: end;
    margin: 5% 0%;
}

.contentdiv1 {
    display: flex;
    height: 49%;
    width: 100%;
}

.contentdiv2 {
    display: flex;
    height: 49%;
    width: 100%;
}

.contenttext {
    background: #9c261e;
    background: linear-gradient(182deg, rgba(156, 38, 30, 1) 24%, rgba(194, 54, 19, 1) 82%);
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 5px 0px;
    padding: 0px 0px;
}

.contenttext2 {
    background: #9c261e;
    background: linear-gradient(182deg, rgba(156, 38, 30, 1) 24%, rgba(194, 54, 19, 1) 82%);
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 5px 0px;
    padding: 0px 0px;
}

.contenttext h1{
    font-size: 2.5rem;
    color: #d5e2eb;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.contenttext p{
    font-size: 1.8rem;
    color: #d5e2eb;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.contenttext2 p{
    font-size: 1.8rem;
    color: #d5e2eb;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.contentimg {
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: 5px 0px;
    padding: 0px 0px;
}

.contentimg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

}


@media (max-width:460px) {

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 12rem;
    height: 100%;
    width: 100%;
    gap: 0;
}

.grid aside {
    order: 2;
    background: #bf411b;
    background: linear-gradient(182deg, rgba(191, 65, 27, 1) 12%, rgba(135, 53, 32, 1) 51%, rgba(61, 35, 29, 1) 89%);
}

.grid main {
    order: 1;
    background: #a5c1d4;
    background: linear-gradient(190deg, rgba(165, 193, 212, 1) 0%, rgba(133, 154, 168, 1) 40%, rgba(86, 99, 107, 1) 80%);
}

/*navbar*/

.selection {
    width: 90%;
    height: auto;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
    position: relative; 
}

.selection details {
    font-size: 2.2rem;
    color: aliceblue;
}

.selection a {
    text-decoration: none;
    color: aliceblue;
}

.selection details > a:nth-of-type(1) {
    position: absolute;
    bottom: calc(100% + 4rem);
    left: 0;
    right: 0;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 0px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    z-index: 10; 
}

.selection details > a:nth-of-type(2) {
    position: absolute;
    bottom: 100%; 
    left: 0;
    right: 0;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 0px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    z-index: 10; 
}

.selection details > p,
.selection details > a {
    position: absolute;
    bottom: 100%; 
    left: 0;
    right: 0;
    border: #52170f solid 4px;
    background-color: #9c392c;
    border-radius: 12px;
    margin-bottom: 1rem; 
    padding: 0.5rem 0;
    gap: 10rem;
    z-index: 10; 
}

.selection details > p,
.selection details > a p {
    margin: 0.2rem 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.navbar .logo {
    display: none;
    padding: 8%;
    margin: 5% 10%;
    height: 15%;
    width: 60%;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 10%;
    height: auto;
    margin: 1rem;
    padding: 0.5rem;
    gap: 1.5rem;
}

.nav div {
    display: flex;
    justify-content: space-around;
    text-align: start;
    justify-content: start;
    gap: 0.5rem;
    height: 4.2rem;
    width: 100%;
}

.nav a {
    width: 100%;
    text-decoration: none;
    color: aliceblue;
}

.button img {
    height: 100%;
    width: 100%;
    max-width: 4rem;
    border-radius: 1.2rem;
    border: aliceblue solid 2px;
    object-fit: cover;
}

.button h1 {
    display: none;
    font-size: 1.1rem;
    color: aliceblue;
}

/* socials */

.navbar .socials {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: end;
    margin: 5% 0%;
}

.contentdiv1 {
    display: flex;
    height: 49%;
    width: 100%;
}

.contentdiv2 {
    display: flex;
    height: 49%;
    width: 100%;
}

.contenttext {
    background: #9c261e;
    background: linear-gradient(182deg, rgba(156, 38, 30, 1) 24%, rgba(194, 54, 19, 1) 82%);
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 2px 0px;
    padding: 0px 0px;
}

.contenttext2 {
    background: #9c261e;
    background: linear-gradient(182deg, rgba(156, 38, 30, 1) 24%, rgba(194, 54, 19, 1) 82%);
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 2px 0px;
    padding: 0px 0px;
}

.contenttext h1{
    font-size: 2rem;
    color: #d5e2eb;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.contenttext p{
    font-size: 1.5rem;
    color: #d5e2eb;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.contenttext2 p{
    font-size: 1.5rem;
    color: #d5e2eb;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.contentimg {
    height: 90%;
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: 2px 0px;
    padding: 0px 0px;
}

.contentimg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

}